
@keyframes fade-in {
    0% {opacity: 0; transform: translate(0px, 80px)}
    100% {opacity: 1; transform: translate(0px, 0px)}
}

@keyframes fade-in-delayed {
    0% {opacity: 0; transform: translate(0px, -80px)}
    50% {opacity: 0; transform: translate(0px, -80px)}
    100% {opacity: 1; transform: translate(0px, 0px)}
}

@keyframes party-colors {
    0% {color: rgb(255, 115, 0);}
    25% {color: rgb(0, 212, 3);}
    50% {color: rgb(0, 46, 247);}
    75% {color: rgb(241, 7, 221);}
    100% {color: rgb(255, 115, 0);}
}


.paragraph-list {
    display: flex;
    flex-direction: column;
    padding: 60px;
    overflow-y: auto;
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    animation-name: fade-in;
    animation-duration: 0.5s;
    user-select:none;
    touch-action: pan-y;
}

.drag-block {
    position: fixed;
}

.fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300px;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
}

.dialog-box {
    animation-name: fade-in;
    animation-duration: 0.5s;
    position: relative;
    background: white;
    padding: 60px;
    border-radius: 20px;
    border: solid 2px #cbccce;
    font-size: 200px;
}

.women .dialog-box {
    border-color: #bdcf53;
}

.time-display {
    position: relative;
}

.high-score {
    position: relative;
    animation: fade-in-delayed 1.5s;
    font-size: 42px;
    text-align: center;
}

.party {
    animation-name: party-colors;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes number-fade-in {
    0% {opacity: 0; top: 300px; transform: scale(0.3)}
    25% {opacity: 0.5; top: 150px; transform: scale(0.7)}
    50% {opacity: 1; top: -100px; transform: scale(1.2)}
    100% {opacity: 1; top: 0px; transform: scale(1)}
}

.countdown-number {
    position: relative;
    animation-name: number-fade-in;
    animation-duration: 0.25s;
}

.animate-pos {
    position: relative;
    transition-property: top, left;
    transition-duration: 0.125s;
    transition-timing-function: ease-out;
}

.paragraph {
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    background-color: white;
    border: solid 2px #cbccce;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    touch-action: none;
}

.women .paragraph {
    border-color: #bdcf53;
}

.word-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.word {
    border-radius: 10px;
    background-color: white;
    border: solid 2px #cbccce;
    padding: 20px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
    white-space: nowrap;
    touch-action: none;
}

.women .word {
    border-color: #bdcf53;
}

body {
    margin: 0;
    padding: 0;
    touch-action: none;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #00718f;
    background: linear-gradient(180deg, #005e81 0%, #024d72 50%, #032845 100%);
}

.women .background {
    background: #eb536f;
    background: linear-gradient(180deg, rgba(246,135,89,1) 0%, rgba(240,117,103,1) 50%, rgba(223,84,119,1) 100%);
}

.app {
    top: 0;
    bottom: 0;
    left: 32px;
    right: 32px;
    outline: #16afc8 solid 6px;
    background: white;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.women .app {
    outline: rgba(255, 255, 255, 0.3) solid 6px;
}

hr {
    border-color: #cccdcf;
    margin: 40px 120px;
}

.women hr {
    border-color: #bdcf53;
}

.button-list {
    display: flex;
    justify-content: space-between;
    padding: 0px 80px 40px;
    align-items: center;
}

@keyframes button-press-effect {
    0% {opacity: 1; transform: scale(0)}
    100% {opacity: 0; transform: scale(20)}
}

.button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;

    background: #16afc8;
    border-radius: 20px;
    padding: 20px 40px;
    color: white;
    border: none;
}

.women .button {
    background: #f7892d;
}

@keyframes button-press-fade {
    0% {opacity: 1; transform: scale(0)}
    100% {opacity: 0; transform: scale(20)}
}

.button-press {
    animation: button-press-fade 0.5s;
    position: fixed;
    background-color: white;
    height: 8px;
    width: 8px;
    border-radius: 4px;
    pointer-events: none;
}

.button.selected {
    background: #00718f;
}

.women .button.selected {
    background: #eb536f;;
}

.button.disabled {
    background: #cbccce;
}

.women .button.disabled {
    background: #aeb588;
}

.timer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
}

.high-score-display {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
}

@keyframes number-shake-0 {
    0% {color: red; transform: rotate(-30deg) scale(1.5)}
    25% {color: red; transform: rotate(20deg) scale(1.4)}
    50% {color: red; transform: rotate(-8deg) scale(1.2)}
    100% {color: black; transform: rotate(0deg)}
}

.timer-penalty-0 {
    position: relative;
    animation-name: number-shake-0;
    animation-duration: 0.5s;
}

@keyframes number-shake-1 {
    0% {color: red; transform: rotate(35deg) scale(1.4)}
    25% {color: red; transform: rotate(-25deg) scale(1.3)}
    50% {color: red; transform: rotate(10deg) scale(1.1)}
    100% {color: black; transform: rotate(0deg)}
}

.timer-penalty-1 {
    position: relative;
    animation-name: number-shake-1;
    animation-duration: 0.5s;
}

@keyframes number-shake-2 {
    0% {color: red; transform: rotate(20deg) scale(1.8)}
    25% {color: red; transform: rotate(-15deg) scale(1.6)}
    50% {color: red; transform: rotate(5deg) scale(1.5)}
    100% {color: black; transform: rotate(0deg)}
}

.timer-penalty-2 {
    position: relative;
    animation-name: number-shake-2;
    animation-duration: 0.5s;
}

@keyframes number-shake-3 {
    0% {color: red; transform: rotate(-30deg) scale(1.4)}
    25% {color: red; transform: rotate(25deg) scale(1.3)}
    50% {color: red; transform: rotate(-15deg) scale(1.1)}
    100% {color: black; transform: rotate(0deg)}
}

.timer-penalty-3 {
    position: relative;
    animation-name: number-shake-3;
    animation-duration: 0.5s;
}

label {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
    margin-bottom: 40px;
}

input {
    font-family:'Courier New', Courier, monospace;
    font-size: 42px;
    height: 80px;
    border: #cccdcf solid 1px;
    border-radius: 10px;
    padding: 0px 30px;
}

.women input {
    border-color: #bdcf53;
}

@keyframes float-away {
    0% {opacity: 0; transform: translate(0px, 0px)}
    25% {opacity: 1;}
    50% {opacity: 1;}
    100% {opacity: 0; transform: translate(0px, -80px)}
}


.floating-text {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
    color: red;
    animation-name: float-away;
    animation-duration: 1.0s;
}