
.paragraph-list {
    display: flex;
    flex-direction: column;
    padding: 60px;
    overflow-y: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

.countdown-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300px;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
}

@keyframes number-fade-in {
    0% {opacity: 0; top: 300px; transform: scale(0.3)}
    25% {opacity: 0.5; top: 150px; transform: scale(0.7)}
    50% {opacity: 1; top: -100px; transform: scale(1.2)}
    100% {opacity: 1; top: 0px; transform: scale(1)}
}

.countdown-number {
    position: relative;
    animation-name: number-fade-in;
    animation-duration: 0.25s;
}

.paragraph {
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    border: solid 1px #cbccce;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
}

.word-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.word {
    border-radius: 10px;
    border: solid 1px #cbccce;
    padding: 20px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
    white-space: nowrap
}

.background {
    background: #00718f;
    margin: 0;
    pad: 0;
}

.app {
    top: 0;
    bottom: 0;
    left: 20px;
    right: 20px;
    border-right: #16afc8 solid 6px;
    border-left: #16afc8 solid 6px;
    background: white;
    position: absolute;
    display: flex;
    flex-direction: column;
}

hr {
    border-color: #cccdcf;
    margin: 40px 120px;
}

.button-list {
    display: flex;
    justify-content: space-between;
    padding: 0px 80px 40px;
    align-items: center;
}

.button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;

    background: #16afc8;
    border-radius: 20px;
    padding: 20px 40px;
    color: white;
    border: none;
}

.button.selected {
    background: #00718f;
}

.button.disabled {
    background: #cbccce;
}

.timer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
}

label {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
    margin-bottom: 40px;
}

input {
    font-family:'Courier New', Courier, monospace;
    font-size: 42px;
    height: 80px;
    border: #cccdcf solid 1px;
    border-radius: 10px;
    padding: 0px 30px;
}