
@keyframes fade-in {
    0% {opacity: 0; transform: translate(0px, 80px)}
    100% {opacity: 1; transform: translate(0px, 0px)}
}

.paragraph-list {
    display: flex;
    flex-direction: column;
    padding: 60px;
    overflow-y: auto;
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    animation-name: fade-in;
    animation-duration: 0.5s;
    user-select:none;
}

.drag-block {
    position: fixed;
}

.fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300px;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
}

.dialog-box {
    background: white;
    padding: 60px;
    border-radius: 20px;
    border: solid 2px #cbccce;
    font-size: 200px;
}

@keyframes number-fade-in {
    0% {opacity: 0; top: 300px; transform: scale(0.3)}
    25% {opacity: 0.5; top: 150px; transform: scale(0.7)}
    50% {opacity: 1; top: -100px; transform: scale(1.2)}
    100% {opacity: 1; top: 0px; transform: scale(1)}
}

.countdown-number {
    position: relative;
    animation-name: number-fade-in;
    animation-duration: 0.25s;
}

.animate-pos {
    position: relative;
    transition-property: top, left;
    transition-duration: 0.125s;
    transition-timing-function: ease-out;
}

.paragraph {
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    background-color: white;
    border: solid 2px #cbccce;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    touch-action: none;
}

.word-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.word {
    border-radius: 10px;
    background-color: white;
    border: solid 2px #cbccce;
    padding: 20px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
    white-space: nowrap;
    touch-action: none;
}

.background {
    background: #00718f;
    margin: 0;
    pad: 0;
}

.app {
    top: 0;
    bottom: 0;
    left: 20px;
    right: 20px;
    border-right: #16afc8 solid 6px;
    border-left: #16afc8 solid 6px;
    background: white;
    position: absolute;
    display: flex;
    flex-direction: column;
}

hr {
    border-color: #cccdcf;
    margin: 40px 120px;
}

.button-list {
    display: flex;
    justify-content: space-between;
    padding: 0px 80px 40px;
    align-items: center;
}

.button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;

    background: #16afc8;
    border-radius: 20px;
    padding: 20px 40px;
    color: white;
    border: none;
}

.button.selected {
    background: #00718f;
}

.button.disabled {
    background: #cbccce;
}

.timer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
}

@keyframes number-shake-0 {
    0% {color: red; transform: rotate(-30deg) scale(1.5)}
    25% {color: red; transform: rotate(20deg) scale(1.4)}
    50% {color: red; transform: rotate(-8deg) scale(1.2)}
    100% {color: black; transform: rotate(0deg)}
}

.timer-penalty-0 {
    position: relative;
    animation-name: number-shake-0;
    animation-duration: 0.5s;
}

@keyframes number-shake-1 {
    0% {color: red; transform: rotate(35deg) scale(1.4)}
    25% {color: red; transform: rotate(-25deg) scale(1.3)}
    50% {color: red; transform: rotate(10deg) scale(1.1)}
    100% {color: black; transform: rotate(0deg)}
}

.timer-penalty-1 {
    position: relative;
    animation-name: number-shake-1;
    animation-duration: 0.5s;
}

@keyframes number-shake-2 {
    0% {color: red; transform: rotate(20deg) scale(1.8)}
    25% {color: red; transform: rotate(-15deg) scale(1.6)}
    50% {color: red; transform: rotate(5deg) scale(1.5)}
    100% {color: black; transform: rotate(0deg)}
}

.timer-penalty-2 {
    position: relative;
    animation-name: number-shake-2;
    animation-duration: 0.5s;
}

@keyframes number-shake-3 {
    0% {color: red; transform: rotate(-30deg) scale(1.4)}
    25% {color: red; transform: rotate(25deg) scale(1.3)}
    50% {color: red; transform: rotate(-15deg) scale(1.1)}
    100% {color: black; transform: rotate(0deg)}
}

.timer-penalty-3 {
    position: relative;
    animation-name: number-shake-3;
    animation-duration: 0.5s;
}

label {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
    margin-bottom: 40px;
}

input {
    font-family:'Courier New', Courier, monospace;
    font-size: 42px;
    height: 80px;
    border: #cccdcf solid 1px;
    border-radius: 10px;
    padding: 0px 30px;
}

@keyframes float-away {
    0% {opacity: 0; transform: translate(0px, 0px)}
    25% {opacity: 1;}
    50% {opacity: 1;}
    100% {opacity: 0; transform: translate(0px, -80px)}
}


.floating-text {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
    color: red;
    animation-name: float-away;
    animation-duration: 1.0s;
}